html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  height: 100%;
  font: 300 10px/1.33 "Open Sans", "Arial", sans-serif; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 300 2.4rem/1.3 "Open Sans", "Arial", sans-serif;
  color: #3D322A;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd,
dl,
dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }
  a:focus, a:hover {
    text-decoration: underline; }

.sub-title {
  padding: 3rem 0;
  text-align: center;
  font: normal 3.7rem "Jakob", "Arial", sans-serif;
  color: #564339; }

.back-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000; }
  .back-top a {
    display: block;
    width: 10rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; }
  .back-top span {
    display: block;
    width: 100%;
    height: 4rem;
    padding-top: 1.1rem;
    font: 600 1.2rem "Open Sans", "Arial", sans-serif;
    color: black;
    background-color: #F4E9C3;
    border-radius: 2rem;
    transition: 1s; }
    .back-top span:hover {
      color: white;
      background-color: #856447; }

@font-face {
  font-family: "LifehackBold";
  src: local("Lifehack"), local("Life Hack"), url("../fonts/lifehack/lifehack_bold-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_bold-webfont.woff") format("woff"), url("../fonts/lifehack/lifehack_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Jakob";
  src: local("Jakob"), local("JakobExtra"), url("../fonts/jakob/jakob.woff2") format("woff2"), url("../fonts/jakob/jakob.woff") format("woff"), url("../fonts/jakob/jakob.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.app-store {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 3rem 0; }
  .app-store_footer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    padding: 0; }

.app-store__item {
  display: block;
  margin: 0 0 0 1.5rem;
  background-color: #856447;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(76, 76, 76, 0.75);
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  .app-store__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .app-store__item:first-child {
    background-image: url("../img/icons/app-store.svg"); }
  .app-store__item:last-child {
    background-image: url("../img/icons/play.svg"); }
  .app-store__item_gray {
    width: 19rem;
    margin: 0 0 2.5rem 0; }
    .app-store__item_gray:last-child {
      margin: 0; }
    .app-store__item_gray .app-store__link {
      height: 6.2rem; }
  .app-store__item_gray:first-child {
    background-image: url("../img/icons/app-store_footer.svg"); }
  .app-store__item_gray:last-child {
    background-image: url("../img/icons/play_footer.svg"); }

.app-store__link {
  display: block;
  width: 19rem;
  height: 6.5rem;
  font-size: 0; }

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(56, 56, 56, 0.75); }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__row:first-child {
    width: 100%;
    min-height: 170px;
    background: #2aab6d url("../img/header.jpg") center no-repeat;
    background-size: cover; }
  .header__row:last-child {
    width: 100%;
    min-height: 80px;
    background-color: #f1dc8d; }

.header__title {
  margin: 0 auto;
  text-align: center;
  color: white;
  font: bold 78px "LifehackBold", "Arial", sans-serif; }

.top-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.top-nav__link {
  display: block;
  padding: 5px;
  font: normal 2.6rem "Open Sans", "Arial", sans-serif;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  .top-nav__link:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.promo {
  min-height: 80rem;
  background: #f1dc8d url("../img/promo_bg.jpg") center no-repeat;
  background-size: cover; }

.promo__inner::after {
  content: "";
  display: table;
  line-height: 0;
  clear: both; }

.promo__col {
  width: 50%;
  float: left; }
  .promo__col:first-child {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden; }
    .promo__col:first-child .promo__img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.promo__img-wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden; }
  .promo__img-wrapper .promo__img {
    max-width: 100%; }

.cite {
  z-index: 50;
  position: relative;
  width: 100%;
  min-height: 10rem;
  background: #856447 url("../img/banner_map.jpg") center no-repeat;
  background-size: cover;
  box-shadow: -2px -2px 5px rgba(76, 76, 76, 0.75), 2px 2px 5px rgba(76, 76, 76, 0.75); }

.cite__title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  text-transform: uppercase;
  color: #38495F;
  background-color: rgba(255, 255, 255, 0.6); }

.textblock {
  font: 300 2.4rem "Open Sans", "Arial", sans-serif; }
  .textblock p {
    margin: 1rem 0; }
  .textblock p:last-child {
    font-size: 1.8rem; }
  .textblock ol {
    margin: 1.5rem 0;
    list-style-position: inside; }
    .textblock ol ul {
      padding: 2rem 0 0; }
      .textblock ol ul li {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 1.5rem; }
      .textblock ol ul li:before {
        content: "";
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 1rem 0 0;
        background: url("../img/icons/check.svg") center no-repeat;
        background-size: 100%; }

.textblock__bold {
  font-weight: 600; }

.textblock__fl li:first-child {
  position: relative; }
  .textblock__fl li:first-child ul {
    position: relative;
    top: -3.5rem;
    margin-left: 25rem;
    padding: 0; }
    .textblock__fl li:first-child ul li:before {
      width: 9rem;
      height: 9rem;
      margin: 0 1rem 0 0; }
    .textblock__fl li:first-child ul li:first-child:before {
      background: url("../img/icons/gold_coin.svg") center no-repeat; }
    .textblock__fl li:first-child ul li:last-child:before {
      background: url("../img/icons/red_coin.svg") center no-repeat; }

.maps__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.maps__item {
  width: 32%;
  height: 34.8rem;
  margin: 0 2rem 5rem 0;
  box-shadow: 2px 2px 5px rgba(76, 76, 76, 0.75); }
  .maps__item:nth-child(3n) {
    margin-right: 0; }

.maps__img-wrap {
  position: relative;
  width: 100%;
  height: 28rem;
  overflow: hidden; }

.maps__img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.maps__subs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.8rem;
  background-color: #F4E9C3;
  font: normal 2.8rem "Open Sans", "Arial", sans-serif; }

.customers {
  padding: 0 15px 60px 15px; }

.customers__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.customers__item {
  width: 38rem;
  height: 44rem;
  margin: 0 4rem 0 0; }

.customers__img-wrap {
  position: relative;
  width: 100%;
  height: 24rem;
  margin: 0 0 4rem 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(76, 76, 76, 0.75); }

.customers__img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.customers__comment {
  position: relative;
  width: 100%;
  height: 16rem;
  border: 2px solid #786A59; }
  .customers__comment p {
    width: 97%;
    height: 95%;
    padding: 1.2rem;
    border: 2px solid #786A59;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.order {
  min-height: 59rem;
  background: #856447 url("../img/promo_bg.jpg") center no-repeat;
  background-size: cover; }

.order__inner::after {
  content: "";
  display: table;
  line-height: 0;
  clear: both; }

.order__form-wrap {
  width: 50%;
  float: left;
  padding: 0 2rem; }

.order-f {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.order-f__list {
  width: 100%; }

.order-f__item {
  margin: 0 0 1.5rem; }
  .order-f__item:last-child {
    margin-bottom: 2.8rem; }

.order-f__input {
  display: block;
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  font: 300 2.4rem "Open Sans", "Arial", sans-serif;
  color: #AFA195;
  border: 2px solid #856447;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.3s ease; }
  .order-f__input:focus {
    border-color: #564339;
    outline: none; }
  .order-f__input:hover {
    border-color: #564339; }
  .order-f__input:required:valid {
    border-color: #2aab6d; }

::-webkit-input-placeholder {
  color: #AFA195;
  opacity: 1;
  transition: all 0.3s ease; }

::-moz-placeholder {
  color: #AFA195;
  opacity: 1;
  transition: all 0.3s ease; }

:-ms-input-placeholder {
  color: #AFA195;
  opacity: 1;
  transition: all 0.3s ease; }

:focus::-webkit-input-placeholder {
  opacity: 0; }

:focus::-moz-placeholder {
  opacity: 0; }

:focus:-moz-placeholder {
  opacity: 0; }

:focus:-ms-input-placeholder {
  opacity: 0; }

.order__img-wrap {
  width: 50%;
  float: right; }

.order-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  height: 5.6rem;
  margin: 0 0 0 1.5rem;
  padding: 0;
  border: none;
  border-radius: 0.8rem;
  background-image: linear-gradient(360deg, #008D36, #95C11F);
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: ease-out; }
  .order-btn:hover {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px); }
  .order-btn_footer {
    margin: 0 0 3rem; }

.order-f .order-btn {
  margin: 0; }

.order-btn__link {
  text-decoration: none;
  font: 600 2.2rem "Open Sans", "Arial", sans-serif;
  color: white; }
  .order-btn__link:hover, .order-btn__link:link, .order-btn__link:visited {
    text-decoration: none; }

.banner {
  min-height: 20rem; }
  .banner img {
    max-width: 100%; }

.partners::after {
  content: "";
  display: table;
  line-height: 0;
  clear: both; }

.partners__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  float: left; }

.partners__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 2.5rem 0;
  background: url("../img/icons/karta-link.svg") center no-repeat;
  background-size: 100%;
  background-position: 0; }

.partners__link {
  margin-left: 7rem;
  font: 600 2.9rem "Open Sans", "Arial", sans-serif;
  color: #634E42;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  .partners__link:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.partners__banner {
  width: 63%;
  float: right;
  padding-top: 1.5rem; }
  .partners__banner img {
    max-width: 100%; }

.footer {
  min-height: 230px;
  background-color: rgba(79, 76, 67, 0.99); }

.footer__inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 15px 20px 15px; }

.footer__item {
  position: relative;
  display: block;
  margin: 0 0 2rem 0;
  padding: 0 0 0 2rem;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  .footer__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .footer__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 1.5rem;
    height: 2.4rem;
    background: url("../img/icons/arrow.svg") center no-repeat;
    background-size: contain; }

.footer__link {
  font: 300 2.4rem "Open Sans", "Arial", sans-serif;
  color: white; }
  .footer__link:hover {
    text-decoration: none; }

.footer__column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px; }

.copyright__link {
  display: block;
  color: white; }
  .copyright__link:hover {
    text-decoration: none; }
  .copyright__link:first-child {
    font: 300 1.4rem "Open Sans", "Arial", sans-serif; }
  .copyright__link:last-child {
    font: 700 2.2rem "Open Sans", "Arial", sans-serif; }

.modal {
  display: none;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9); }

.modal__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem; }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px; }

.modal_bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.modal_show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s; }

/* Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
