// base style
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	font: 300 7px/1.33 $font_1;

	@media (min-width: $tablet) {
		font-size: 9px;
	}
	@media (min-width: $desktop) {
		font-size: 10px;
	}
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	// min-width: 30rem;
	min-height: 100%;
	font: 300 2rem/1.3 $font_1;
	color: $gold_dark;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dd,
dl,
dt {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color_link;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

// h2
.sub-title {
	padding: 3rem 0;
	text-align: center;
	font: normal 3.7rem $font_3;
	color: #564339;
}

// back to top
.back-top {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 1000;

	a {
		display: block;
		width: 5rem;
		height: 5rem;
		background: url("../img/icons/top.svg") center no-repeat;
		background-size: contain;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-image: url("../img/icons/top_hover.svg");
		}
	}
}
// end base style
