// colors
$color_link: rgba(0, 0, 0, 0.8);
$color_field: rgba(50, 55, 73, 1);
$color_field_hover: rgba(50, 60, 75, 1);
$color_field_border: rgba(220, 220, 220, 1);

$color_shadow: rgba(76, 76, 76, 0.75);

$black: rgba(0, 0, 0, 1);
$yellow: rgba(241, 220, 141, 1);
$gold: #856447;
$gold_light: #F4E9C3;
$green: #2aab6d;
$green_dark: #1c9b5e;

$img-shadow: 2px 2px 5px $color_shadow;
// fonts
$font_1: "Open Sans", "Arial", sans-serif;
$font_2: "Lifehack", "Arial", sans-serif;
$font_3: "Irina", "Arial", sans-serif;
