.copyright {

}

.copyright__link {
	display: block;
	color: white;

	&:hover {
		text-decoration: none;
	}
	&:first-child {
		font: 300 1.4rem $font_1;
	}
	&:last-child {
		font: 700 2.2rem $font_1;
	}
}
