.footer {
	min-height: 230px;
	background-color: rgba(79, 76, 67, 0.99);
}

.footer__inner {
	@include container;

	display: flex;
	justify-content: space-between;
	// align-items: flex-start;
	padding: 40px 15px 20px 15px;
}

.footer__item {
	position: relative;
	display: block;
	margin: 0 0 2rem 0;
	padding: 0 0 0 2rem;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.3s;
	transition-property: transform;

	&:hover {
		transform: scale(1.1);
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0.4rem;
		width: 1.5rem;
		height: 2.4rem;
		background: url("../img/icons/arrow.svg") center no-repeat;
		background-size: contain;
	}
}

.footer__link {
	font: 300 2.4rem $font_1;
	color: white;

	&:hover {
		text-decoration: none;
	}
}

.footer__column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-basis: 400px;
}
