.order {
	min-height: 59rem;
	background: $gold url("../img/promo_bg.jpg") center no-repeat;
	background-size: cover;
}

.order__inner {
	@include clearfix;
}
// form
.order__form-wrap {
	width: 50%;
	float: left;
	padding: 0 2rem;
}

.order-f {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.order-f__list {
	width: 100%;
}

.order-f__item {
	margin: 0 0 1.5rem;

	&:last-child {
		margin-bottom: 2.8rem;
	}
}

.order-f__input {
	display: block;
	width: 100%;
	height: 5.5rem;
	padding: 1rem;
	font: 300 2.4rem $font_1;
	color: #AFA195;
	border: 2px solid $gold;
	border-radius: 10px;
	opacity: 1;
	transition: all 0.3s ease;

	&:focus {
		border-color: #564339;
		outline: none;
	}

	&:hover {
		border-color: #564339;
	}

	&:required:valid {
		border-color: $green;
	}
}

&::-webkit-input-placeholder {
	color: #AFA195;
	opacity: 1;
	transition: all 0.3s ease;}

&::-moz-placeholder {
	color: #AFA195;
	opacity: 1;
	transition: all 0.3s ease;}

&:-ms-input-placeholder {
	color: #AFA195;
	opacity: 1;
	transition: all 0.3s ease;}

:focus::-webkit-input-placeholder {opacity: 0;}
:focus::-moz-placeholder {opacity: 0;}
:focus:-moz-placeholder {opacity: 0;}
:focus:-ms-input-placeholder { opacity: 0;}

// leprikon image
.order__img-wrap {
	width: 50%;
	float: right;
}

.order__img {}
