.promo {
	min-height: 80rem;
	background: $yellow url("../img/promo_bg.jpg") center no-repeat;
	background-size: cover;

	@media (max-width: $mobile_full) {
		min-height: 75rem;
	}
}

.promo__inner {
	@include clearfix;
}

.promo__col {
	width: 50%;
	float: left;

	@media (max-width: $mobile_full) {
		&:first-of-type {display: none;}
		&:last-of-type {width: 100%;}
	}
}

.promo__img {
	max-width: 100%;
}

.promo__img-wrapper {
	position: relative;
	width: 100%;
	height: 36rem;
	overflow: hidden;

	@media (max-width: $mobile_full) {
		height: auto;
		margin-bottom: 2rem;
	}
}
