.promo {
	min-height: 80rem;
	background: $yellow url("../img/promo_bg.jpg") center no-repeat;
	background-size: cover;
}

.promo__inner {
	@include clearfix;
}

.promo__title {}

.promo__col {
	width: 50%;
	float: left;

	// leprikon img
	&:first-child {
		position: relative;
		width: 100%;
		height: 360px;
		overflow: hidden;
		.promo__img {
			min-width: 100%;
			min-height: 100%;
			@include center;
		}
	}
}

.promo__img-wrapper {
	position: relative;
	width: 100%;
	height: 360px;
	overflow: hidden;

	.promo__img {
		max-width: 100%;
	}
}
