.textblock {
	font: 300 2rem $font_1;

	p {
		margin: 1rem 0;
	}

	// **
	p:last-child {
		font-size: 1.8rem;
	}

	ol {
		margin: 1.5rem 0;
		list-style-position: inside;

		ul {
			padding: 2rem 0 0;

			li {
				display: flex;
				align-items: center;
				margin-bottom: 1.5rem;
			}

			li:before {
				content: "";
				display: block;
				width: 6rem;
				height: 6rem;
				margin: 0 1rem 0 0;
				background: url("../img/icons/check.svg") center no-repeat;
				background-size: 100%;
			}
		}
	}
}

.textblock__bold {font-weight: 600;}

.textblock__quote {
	&:before {
		content: "";
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background: url("../img/icons/quote.svg") center no-repeat;
		background-size: contain;
	}
}

.textblock__fl {
	li:first-child {
		position: relative;

		ul {
			position: relative;
			padding: 0;

			li:before {
				width: 9rem;
				height: 9rem;
				margin: 0 1rem 0 0;
			}
			li:first-child:before {
				background: url("../img/icons/gold_coin.svg") center no-repeat;
			}
			li:last-child:before{
				background: url("../img/icons/red_coin.svg") center no-repeat;
			}
			@media (min-width: $tablet) {
				top: -3.5rem;
				margin-left: 25rem;
			}
		}
	}
}
